<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinghan.core">
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.jinghan.app.AppContext"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.jinghan.app.mvp.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--glide 配置信息 start-->

        <!--okhttp3与glide桥接-->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />

        <!--glide 图片缓存信息-->
        <meta-data android:name="com.jinghan.core.dependencies.glide.CacheGlideModule"
            android:value="GlideModule" />

        <!--glide 配置信息 end-->


    </application>
</manifest>
